*{
    margin: 0;
    padding: 0;
   
}
a{
    text-decoration: none;
    color:rgb(34, 31, 31);
}
h1{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    color: #5a5a5a;
    text-align: center;
}
h2{
    font-size: 28px;
    color: #A9A9A9;
}
/*header*/
.header{
    background-color: indigo;
    margin-bottom: 60px;
}
.header_wrapper{
    max-width: 1170px;
    margin: 0 auto;
    padding: 30px;
}
.main_menu{
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    
}
/*main content*/
.main-content_wrapper{
    max-width: 980px;
    margin: 0 auto;
}
.about_me{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about_me_title{
   
    animation: type 3s steps(42);
    overflow:hidden;
    white-space: nowrap;

  
}
@keyframes type{
    0% {
        width:0ch;
    }
    100% {
        width:42ch;
    }
}

.about_me_top{
    display: flex;
    align-items: center;
}
.hello{
    font-size: 27px;
    padding-left: 20px;
   
 
  color: rgba(255,255,255,0.2);
  background: url(https://images-na.ssl-images-amazon.com/images/I/61Wrpmlk6BL._SY450_.jpg) repeat-x;
  -webkit-background-clip: text;
  background-size: contain;
  animation: fire 5s linear infinite;
}
@keyframes fire{
    0%{
      background-position: left 0 top 25px;
    }
    
    50%{
      background-position: left 130px top -35px;
    }
    100%{
      background-position: left 260px top 0;
    }
  }
  
  .characteristics{
    margin-top: 30px;
    margin-bottom: 30px;
display: flex;
justify-content: space-between;
  }
  .my_bio{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
    /*My projects*/

.project_items{
    display: flex;
    justify-content: space-between;
   margin-bottom: 30px;

}
.projects_item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: #696969;
    height: 200px;
}
.projects_item:hover{
    background-color: #C0C0C0;
}
/*Contacts*/
.my_contacts{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.my_contacts > ul{
    font-size: 30px;
    margin-bottom: 30px;
}



/*Footer*/
.footer{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: indigo;
   height: 100px;
   color: white;
   font-size: 20px;
}

/*adaptive*/
@media screen and (max-width: 990px) {
   h1{
       font-size: 30px;
   }
   h2{
    font-size: 20px;
    
}
.my_contacts > ul{
    font-size: 20px;

}
.projects_item{
    margin-left: 20px;
    margin-right: 20px;
    width: 25%;
    height: 150px;
}
.characteristics{
    margin: 45px;
}
li{
    font-size:12px
}
   
}
@media screen and (max-width: 600px) {
    h1{
        font-size: 20px;
    }
    h2{
     font-size: 15px;
     
 }
 .my_contacts > ul{
     font-size: 15px;
 
 }
 .projects_item{
     margin-left: 20px;
     margin-right: 20px;
     width: 25%;
     height: 120px;
 }
 .characteristics{
     margin: 45px;
 }
 li{
     font-size:10px
 }
 .footer{
     font-size: 12px;
 }
 .hello{
     font-size: 20px;
 }
    
 }